@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

/* Header CSS */
.header {
  color: #fff;
  display: flex;
  background-color: #111;
  justify-content: space-between;
  align-items: center;
}

.header img {
  width: 100px;
  height: 100px;
}

.header ul {
  display: flex;
  justify-content: space-around;
  width: 45%;
  line-height: 40px;
}

.header ul li {
  list-style: none;
}

.header ul li a {
  text-decoration: none;
  color: #fff;
}

.header ul li a:hover {
  color: #111;
  background-color: #fff;
}

/* END Header CSS */

/* Home CSS */
.home {
  display: flex;
  align-items: center;
  padding: 2% 3%;
}

.home .left-content h1 {
  font-weight: bold;
}

.home .right-content{
    margin-left: 2%;
}

.home .right-content img {
  width: 600px;
  height: 600px;
}
/* END Home CSS */

/* Sejarah */
.sejarah {
  display: flex;
  align-items: center;
  padding: 2% 3%;
}

.sejarah .left-content img {
  width: 800px;
  height: 700px;
}

.sejarah .right-content{
    margin-left: 2%;
}
/* END Sejarah */

/* Kegiatan */
.kegiatan {
  padding: 1%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 30%;
}

.kegiatan .kotak {
    width: 300px;
    height: 300px;
    margin: 5%;
}

.kegiatan .gambar img {
  width: 300px;
  height: 300px;
}

.kegiatan .caption {
    text-align: center;
}
/* END Kegiatan */

/* Footer */
footer {
  background-color: #111;
  padding: 1%;
  color: #fff;
  text-align: center;
}
/* END Footer */

/* Responsive Breakpoint */
/* 1100px Breakpoint */
/* Home */

/* END Home */
/* Sejarah */
@media (max-width: 1100px){
  .sejarah {
    display: flex;
    align-items: center;
    padding: 2% 3%;
    flex-direction: column;
  }
/* END Sejarah Breakpoint */
/* End 1100px Breakpoint */

/* 830 Breakpoint */
/* Home */
.home .right-content img{
  width: 400px;
  height: 400px;
}

/* Home */
.home {
  flex-direction: column;
}

.home .left-content {
  order: 2;
}

.home .right-content {
  order: 1;
}
/* END Home */
/* END Home */
/* Sejarah Breakpoint */
@media (max-width: 830px){
    .sejarah .left-content img {
      width: 400px;
      height: 300px;
  }
}
/* END Sejarah */
/* END 830 Breakpont */

/* 450 Breakpoint */
/* Kegiatan */
@media (max-width: 450px){
  .kegiatan .kotak {
    width: 300px;
    height: 300px;
    margin: 10%;
}
/* END Kegiatan */
/* END 450 Breakpoint */
/* 400 Breakpoint */
/* Sejarah */
@media (max-width: 400px){
  .sejarah .left-content img {
    width: 300px;
    height: 200px;
  }
}
/* END Sejarah */

/* Home */
.home .right-content img {
  width: 200px;
  height: 200px;
}
/*  END Home*/
/* END 400 Breakpoint */
/* END Responsive Breakpoint */